.body {
    background-color: #117A65;

}
.form{
    text-align: center;
}
.h1 {
    justify-content: center;

}
.div{
    background-color: white;
    text-align: center;

}
.rowTab{

}
.label{
    display: inline-block;
    text-align: right;

}
.leftTab{
    display: inline-block;
    text-align: left;

}
.d-flex{
    display: flex;
}

ul {
    list-style: none;
}